body{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* Estilos adicionales para el navbar */
    
  }

.mobile-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(53, 106, 80);

    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    position: fixed;
    width: 100%;
    position: sticky;
  top: 0;
  z-index: 999;
    

  }
  
  .menu-button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .sidebar {
    position: absolute;
    right: 0; /* Cambia el valor a right */
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: #000000;
    padding: 20px;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .sidebar > * {
    margin-bottom: 10px;
  }
  
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .desktop-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
background-color: rgb(53, 106, 80);
    
    color: #fff;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .name {
    font-size: 18px;
    margin-right: auto;
    margin-left: 5px;
    
  }
  
  .navbar-right {
    display: flex;
  }
  
  .nav-button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  
  /* Add additional styling for the sidebar options (AboutMe, Technologies, Projects, Contact) as needed */
  


/* about me */

.about-me {
    width: 100%;
    height: 100vh;
    background-color: rgb(86, 169, 129);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

  }

  .aboutMeCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 245, 207);
    width: 60%;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    padding: 10px;

  }

  .aboutMeCard:hover{
    transform: scale(1.1); /* Aumenta el tamaño al 110% */
    background-color: rgb(178, 185, 158);

  transition: transform 0.3s ease, background-color 0.3s ease; /* Agrega una transición suave */
  color: white;
  font-weight: bold;
  }

  .about-me h1{
    color: white;
  }
  
  .about-me h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 90px;
    color: white;

  }
  
  .about-me p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    width: 70%;    
    
  }

  .btnCV{
    border-radius: 10px;
    border:none;
    padding: 10px;;
    background-color: rgb(76, 129, 97);
    color: white;
    margin-top: 20px;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  }

  .btnCV:hover{
    transform: scale(1.1); /* Aumenta el tamaño al 110% */
    background-color: rgb(117, 166, 123); /* Cambia el color de fondo a lightblue */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Agrega una transición suave */
    cursor: pointer;
  }

  .btnContact{
    width: fit-content;
    border: none;
    background-color: rgb(178, 185, 158);

    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    
  }

  .btnContact:hover{
    transform: scale(1.1); /* Aumenta el tamaño al 110% */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Agrega una transición suave */
    cursor: pointer;
  }


  
  
  

  /* technologies */


  .technologies {
    
   
    width: 100%;

    height: 100vh;
    background-color: rgb(178, 185, 158);

    display: flex;
    flex-direction: column;
    text-align: center;
justify-content: center;
align-items: center;


   
    
  }
  
 
  .technologies h2 {
    font-size: 24px;
    margin-bottom: px;
    margin-top: 0px;

  }

  .technologies p{
    width: 80%;
  }

  .techImages {
    display: flex;
    flex-direction: column;
  }
  
  .fila1, .fila2 {
    display: flex;
margin: 20px;
  }
  
  .fila1 > div,
  .fila2 > div {
    flex: 1;
  }
  
  
  
  .technologies ul {
    list-style-type: none;
    padding: 0;
  }
  
  .technologies li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .technologies li:before {
    content: '•';
    margin-right: 5px;
  }

  .iconsTech{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 80px;

  }

  .card {
    background-color: rgb(86, 169, 129);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 40%;
    margin: 20px auto;
    padding: 15px;
    animation: bounce 5s infinite;
  }


  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }

  

  .ic {
    transition: transform 0.3s ease;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   background-color: rgb(188, 192, 155);
   border-radius: 10px;
   margin-right: 10px;
   
    
  }
  
  .ic:hover {
    transform: translateY(-5px);
  }



  @media (max-width: 768px) {
    .card {
      width: 80%;

    }
   
  
    .ic {
      padding: 0px 10px;
      margin-right: 4px;
    }
    .iconsTech{
      font-size: 50px;
    }
  }
  


  /* projects */


  .projects {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: rgb(178, 185, 158);

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

  } 
  
  .project {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(86, 169, 129);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 70%;
    margin: 20px auto;
    padding: 15px;
    animation: bounce 5s infinite;

  }
  
  .project img {
    width: 840px;
    height: 450px;
    border-radius: 5px;
    margin-top: 30px;
    
  }




  
  
  .project-details {
    flex: 1;
  }
  
  .project-details h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .project-details p {
    margin-bottom: 10px;
  }
  
  .project-links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .project-links a:hover {
    background-color: #555;
  }

  h2{
    margin-top: 0px;

  }

  @media (max-width: 768px) {
    .project img{
      width:350px;
      height: 250px;
    }

    .project{
      width: 85%;
    }
    
  }

  /* contact */


  .contact-form {
    height: 100vh;
    padding: 40px;

    max-width: 500px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-form form div {
    margin-bottom: 15px;
  }
  
  .contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #555;
  }

  
  