body{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* Estilos adicionales para el navbar */
  }

.mobile-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(12, 10, 10);
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    position: fixed;
    width: 100%;
    
   
    
    
    

  }
  
  .menu-button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .sidebar {
    position: absolute;
    right: 0; /* Cambia el valor a right */
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: #000000;
    padding: 20px;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .sidebar > * {
    margin-bottom: 10px;
  }
  
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .desktop-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .name {
    font-size: 18px;
    margin-right: auto;
    margin-left: 5px;
    
  }
  
  .navbar-right {
    display: flex;
  }
  
  .nav-button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  
  /* Add additional styling for the sidebar options (AboutMe, Technologies, Projects, Contact) as needed */
  


/* about me */

.about-me {
   
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    text-align: center;
justify-content: center;

  }
  
  .about-me h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  
  .about-me p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 0px 20px;
  }

  .btnCV{
    border-radius: 10px;
    border:none;
    padding: 10px;;
    background-color: blue;
    color: white;
    margin-top: 20px;
  }


  
  
  

  /* technologies */


  .technologies {
    
   
    width: 100%;

    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    text-align: center;
justify-content: center;


   
    
  }
  
  
  .technologies h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0px;

  }
  
  .technologies ul {
    list-style-type: none;
    padding: 0;
  }
  
  .technologies li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .technologies li:before {
    content: '•';
    margin-right: 5px;
  }


  /* projects */


  .projects {
    width: 100%;
    margin: 0 auto;
    height: auto;
background-color: bisque;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;

  }
  
  .project {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
  }
  
  .project img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
    
  }
  
  .project-details {
    flex: 1;
  }
  
  .project-details h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .project-details p {
    margin-bottom: 10px;
  }
  
  .project-links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .project-links a:hover {
    background-color: #555;
  }

  h2{
    margin-top: 0px;

  }
  /* contact */


  .contact-form {
    height: 100vh;
    padding: 40px;

    max-width: 500px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-form form div {
    margin-bottom: 15px;
  }
  
  .contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #555;
  }

  .btnContact{
    width: fit-content;
    border: none;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    
  }
  

  